@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Signika:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo-texto {
    font-size: 24px; 
}